<template>
  <div class="hello">
  </div>
</template>

<script>
//  import firebase from 'firebase'

export default {
  name: 'HelloWorld',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  button {
      border: none;
      color: #000;
      background: #9DCF9F;
      margin-top: 20px;
      padding: 10px;
      width: 10%;
      cursor: pointer;
  }
</style>
