<template>
    <div class="login col-lg-12">
        <h3>Sign In</h3>
        <div class="form-group">
            <label>Email address</label>
            <input class="form-control" v-model="email" type="text" placeholder="Email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" v-model="password" type="password" placeholder="Password">
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-primary" v-on:click="login">Log In</a>
            <a href="#" class="btn btn-outline-danger pull-right" v-on:click="google"><i class="fab fa-google"></i> Sign in with Google</a>
        </div>
        <p>No account? <router-link to="/register">Create one.</router-link></p>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'login',
  data: function () {
    return {}
  },
  methods: {
    login: function () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.$router.replace('/')
        },
        (err) => {
          alert('Oops, ' + err.message)
        }
      )
    },
    google: function () {
      let provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithRedirect(provider).then(
        (result) => {
          this.$router.replace('/')
        }
      ).catch(
        (error) => {
          console.log(error.code)
        }
      )
    }
  }
}
</script>

<style scoped> /* "scoped" limits the CSS to this component only */
    .login {
        margin-top: 40px;
        margin: 0 auto;
        max-width: 600px;
    }
    p {
        margin-top: 40px;
        font-size: 13px;
    }
    p a {
        text-decoration: underline;
        cursor: pointer;
    }
    .pull-right {
        float: right;
    }
</style>
